body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f5b22c;
}

.button {
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;
  cursor: pointer;
}
.button:hover {
  background-color: #6C8CFF;
}

.load-button {
  display: block;
  margin: 0 auto 20px;
}

.form {
  margin: 0 auto;
  width: fit-content;
}

.button,
.form-input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 16px;
}

.form-input {
  margin-right: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}
.form-input:hover {
  border-color: #000000;
}
.form-input:focus {
  border-color: #4E75FF;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0;
  margin: 20px;
}

@media screen and (max-width: 1024px ) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 768px ) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 455px ) {
  .gallery {
    display: block;
  }
}

.gallery-item {
  list-style: none;
  background-color: white;
  border-radius: 5px; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.item-image {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.item-stats_container {
  display: flex;
  justify-content: space-around;
}

.item-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
}

.item-stats span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.loading {
  display: flex;
  justify-content: center;
}

.is-hidden {
  display: none;
}